<% content_for(:title) do%>カート<% end %>

<% if @cart.any_items? %>
  <%= form_for @cart, url: update_cart_path, method: :put, html: { id: 'update_cart', class: 'form-horizontal' } do |cart_f| %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>商品</th>
          <th>価格</th>
          <th>数量</th>
          <th>合計</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'carts/cart_item', collection: @cart.cart_items, locals: { cart_f: cart_f } %>
      </tbody>
    </table>
    <div class="col-sm-12 text-right">
      <p class="lead">小計 : <strong><%= @cart.total %></strong> 円</p>
    </div>

    <hr>

    <div class="col-sm-12">
      <%= link_to '買い物を続ける', products_path, class: 'btn btn-default' %>
      <%= button_tag '個数変更', class: 'btn btn-success' %>
      <%= button_tag 'レジへ進む', name: 'checkout', class: 'btn btn-primary' %>
    </div>
  <% end %>
<% else %>
  <p>Now the cart is empty</p>
<% end %>
